{% extends "default.html" %}
{% block title %}BMI Form{% endblock %}
{% block content %}
    <h1>BMI Calculator</h1>
    <div class="content-section">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Enter Information</legend>
                <div class="form-group">
                    {{ form.weight.label(class="form-control-label") }}

                    {% if form.weight.errors %}
                        {{ form.weight(class="form-control form-control-lg") }}
                        <div class="text-danger">
                            {% for error in form.weight.errors %}
                                <span>{{ error }}</span><br>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.weight(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.height.label(class="form-control-label") }}
                    {% if form.height.errors %}
                        {{ form.height(class="form-control form-control-lg") }}
                        <div class="text-danger">
                            {% for error in form.height.errors %}
                                <span>{{ error }}</span><br>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.height(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
            </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-dark") }}
            </div>
        </form>
    </div>
{% endblock %}
