{% extends "default.html" %}
{% block title %}Home Page{% endblock %}
{% block content %}
    <h1 align="center">Choose Calculator to Run</h1>
    <br>
    <p align="center"><a href=bmi/form ><button class="btn btn-outline-dark" style="height:150px;width:250px;font-size:x-large">Body Mass Index Calculator</button></a></p>
    <p align="center"><a href=savings/form ><button class="btn btn-outline-dark" style="height:150px;width:250px;font-size:x-large">Retirement Savings Goal Calculator</button></a></p>
{% endblock %}
