{% extends "default.html" %}
{% block title %}Savings Goal Form{% endblock %}
{% block content %}
    <h1>Retirement Savings Goal Calculator</h1>
    <div class="content-section">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Information</legend>
                <div class="form-group">
                    {{ form.age.label(class="form-control-label") }}

                    {% if form.age.errors %}
                        {{ form.age(class="form-control form-control-lg") }}
                        <div class="text-danger">
                            {% for error in form.age.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.age(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.salary.label(class="form-control-label") }}
                    {% if form.salary.errors %}
                        {{ form.salary(class="form-control form-control-lg") }}
                        <div class="text-danger">
                            {% for error in form.salary.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.salary(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.percent_savings.label(class="form-control-label") }}
                    {% if form.percent_savings.errors %}
                        {{ form.percent_savings(class="form-control form-control-lg") }}
                        <div class="text-danger">
                            {% for error in form.percent_savings.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.percent_savings(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.savings_goal.label(class="form-control-label") }}
                    {% if form.savings_goal.errors %}
                        {{ form.savings_goal(class="form-control form-control-lg") }}
                        <div class="text-danger">
                            {% for error in form.savings_goal.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.savings_goal(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
            </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
        </form>
    </div>
{% endblock %}